<div class="edit">
	<div class="panel-heading">
		<h2 class="panel-title">{{mode === 'CREATE' ? 'Create Event' : 'Edit Event'}}</h2>
	</div>
	<div class="panel-body">
		<form>
			<div class="row">
				<h5>Adverse Event:</h5>
				<div>

				</div>
			</div>
			<div class="row">
				<h5>Patient:</h5>
				<div>

				</div>
			</div>
			<div class="row">
				<h5>Drugs:</h5>
				<div>

				</div>
			</div>
			<div class="row">
				<h5>Reactions:</h5>
				<div>

				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer text-center">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-success" ng-click="saveEvent()">Save</button>
	</div>
</div>